<div class="container">
    <div class="card">
        <div class="top">
            <h3>Category: Vegetable</h3>
        </div>
        <div class="body">
            <p>Name: Tomato</p>
            <p>Quantity: 7</p>
            <p>Price: $300</p>
            <div class="icons">
                <a routerLink="/edit_item">
                <i class="fa-solid fa-file-pen"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>

    
    <div class="card">
        <div class="top">
            <h3>Category: Vegetable</h3>
        </div>
        <div class="body">
            <p>Name: Tomato</p>
            <p>Quantity: 7</p>
            <p>Price: $300</p>
            <div class="icons">
                <a href="#">
                <i class="fa-solid fa-file-pen"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="top">
            <h3>Category: Vegetable</h3>
        </div>
        <div class="body">
            <p>Name: Tomato</p>
            <p>Quantity: 7</p>
            <p>Price: $300</p>
            <div class="icons">
                <a href="#">
                <i class="fa-solid fa-file-pen"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="top">
            <h3>Category: Vegetable</h3>
        </div>
        <div class="body">
            <p>Name: Tomato</p>
            <p>Quantity: 7</p>
            <p>Price: $300</p>
            <div class="icons">
                <a href="#">
                <i class="fa-solid fa-file-pen"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="top">
            <h3>Category: Vegetable</h3>
        </div>
        <div class="body">
            <p>Name: Tomato</p>
            <p>Quantity: 7</p>
            <p>Price: $300</p>
            <div class="icons">
                <a href="#">
                <i class="fa-solid fa-file-pen"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="top">
            <h3>Category: Vegetable</h3>
        </div>
        <div class="body">
            <p>Name: Tomato</p>
            <p>Quantity: 7</p>
            <p>Price: $300</p>
            <div class="icons">
                <a href="#">
                <i class="fa-solid fa-file-pen"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="top">
            <h3>Category: Vegetable</h3>
        </div>
        <div class="body">
            <p>Name: Tomato</p>
            <p>Quantity: 7</p>
            <p>Price: $300</p>
            <div class="icons">
                <a href="#">
                <i class="fa-solid fa-file-pen"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
    
</div>