<div class="container">
  <!-- <a routerLink="/students">
    <i class="fa-solid fa-circle-arrow-left"></i>
    Back</a
  > -->

  <form action="">
    <h2>Add new category</h2>
    <div hidden>
      <label for="_id">ID</label><br />
      <input type="text" id="_id" name="_id" />
    </div>
    
    <div>
      <label for="category">Category name</label><br />
      <input type="text" id="category" name="category" />
    </div>
    
    <div>
      <button>
        Add category
      </button>
    </div>
  </form>
</div>