<div class="card">
  <button>
    <p routerLink="#">Milk</p>
    <div class="icons">
      <a routerLink="/edit_category">
        <i class="fa-solid fa-file-pen"></i>
      </a>
      <a href="#">
        <i class="fa-solid fa-trash-can"></i>
      </a>
    </div>
  </button>
  <button>
    <p routerLink="#">Vegetables</p>
    <div class="icons">
      <a routerLink="/edit_category">
        <i class="fa-solid fa-file-pen"></i>
      </a>
      <a href="#">
        <i class="fa-solid fa-trash-can"></i>
      </a>
    </div>
  </button>
  <button>
    <p routerLink="#">Cereals</p>
    <div class="icons">
      <a routerLink="/edit_category">
        <i class="fa-solid fa-file-pen"></i>
      </a>
      <a href="#">
        <i class="fa-solid fa-trash-can"></i>
      </a>
    </div>
  </button>



</div>
